<div class="jumbotrom-mt-4">

    <h1 class="display-4">Rankings de Libros</h1>
    <p class="lead">Registrate, añade fichas de libros y vota.</p>
<hr class="my-4">
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit laudantium saepe hic ab facilis tempore laborum exercitationem impedit quo labore!</p>

<a href="http://google.com" class='btn btn-primary btn-lg'>Google</a>
</div>