


<div class="col-md-4 mx-auto">

    <div class="card">
    <div class="card-header">
        <h3>Nuevo Libro</h3>
    </div>
    <div class="card-body">
    
    
    <form action="/notes/new-note" method="POST" class="group">

        <input type="text" name="title" class="form-control" placeholder="Título" autofocus>
        
        <textarea name="description" class="form-control" placeholder="Descripción"></textarea>
        <input type="date" name="datePub" class="form-control" placeholder="Fecha de publicación">
        <input type="text" name="author" class="form-control" placeholder="Autor">
        <button class="btn btn-primary btn-block" type="submit">Guardar</button>

    </form>
     
   
    </div>
    </div>


</div>